# The Beautiful Game. Investigating European Football Database

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction


This football dataset is obtained from Kaggle. The data contains more than 25,000 matches, +10,000 players, 11 European countries, team squad formation with (X, Y) coordinates, detailed match events; for example, goal types, possessions, fouls, cards and many more. The dataset spans from 2008 to 2016 seasons and it comes in SQLite database format with 7 tables (Country, League, Match, Player, Player_Attributes, Team, and Team_Attributes). In addition, there are 199 columns combined in this database. We will extract what serves our purpose of analysis and try answer some questions; for instance, **what team improved over the period of time? which teams had scored the most number of goals? what attributes that leads the team to most victories?** and also dig in to explore players distinctions that dominates the game. 


All thanks to <a href="https://www.kaggle.com/hugomathien"> Hugo Mathien</a> for dedicating the time and effort to make this possbile. Further reading and ways to improve the project can be found in Hugo's github repo <a href="https://github.com/hugomathien/football-data-collection"> here.</a>

In [1]:
import pandas as pd
import numpy as np
from sqlite3 import connect
import os
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling


### Database connection

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

# database connection
db = os.getcwd()+'/database.sqlite'
conn = connect(db)

pd.read_sql_query("SELECT * FROM Match", conn)

# perform joins

# team_df = pd.read_sql_query("""SELECT * 
#                   FROM Team as t 
#                   JOIN Team_Attributes as ta ON t.team_api_id=ta.team_api_id""", conn)

# player_df = pd.read_sql_query("""SELECT * 
#                   FROM Player as p 
#                   JOIN Player_Attributes as pa ON p.player_api_id=pa.player_api_id""", conn)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pd.read_sql_query("""SELECT * 
                  FROM Team as t 
                  JOIN Team_Attributes as ta ON t.team_api_id=ta.team_api_id""", conn)

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,49119,9930,434,FC Aarau,AAR,1,434,9930,2010-02-22 00:00:00,60,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,49119,9930,434,FC Aarau,AAR,2,434,9930,2014-09-19 00:00:00,52,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,49119,9930,434,FC Aarau,AAR,3,434,9930,2015-09-10 00:00:00,47,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,39393,8485,77,Aberdeen,ABE,4,77,8485,2010-02-22 00:00:00,70,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,39393,8485,77,Aberdeen,ABE,5,77,8485,2011-02-22 00:00:00,47,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,3,10000,15005,SV Zulte-Waregem,ZUL,1454,15005,10000,2011-02-22 00:00:00,52,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,3,10000,15005,SV Zulte-Waregem,ZUL,1455,15005,10000,2012-02-22 00:00:00,54,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,3,10000,15005,SV Zulte-Waregem,ZUL,1456,15005,10000,2013-09-20 00:00:00,54,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,3,10000,15005,SV Zulte-Waregem,ZUL,1457,15005,10000,2014-09-19 00:00:00,54,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,3,10000,15005,SV Zulte-Waregem,ZUL,1458,15005,10000,2015-09-10 00:00:00,54,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover

### Explore database tables

In [4]:
# explore database

db_tables = pd.read_sql("SELECT * FROM sqlite_master WHERE type='table';", conn)
db_tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

### Explore tables

In [5]:
# Team table
pd.read_sql_query("SELECT * FROM Team", conn)

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]

In [6]:
# Team attributes table
pd.read_sql_query("SELECT * FROM Team_Attributes", conn)

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,1454,15005,10000,2011-02-22 00:00:00,52,Balanced,NaN,Little,52,Mixed,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,1455,15005,10000,2012-02-22 00:00:00,54,Balanced,NaN,Little,51,Mixed,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,1456,15005,10000,2013-09-20 00:00:00,54,Balanced,NaN,Little,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,1457,15005,10000,2014-09-19 00:00:00,54,Balanced,42.0,Normal,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,1458,15005,10000,2015-09-10 00:00:00,54,Balanced,42.0,Normal,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover

In [7]:
# Player table
pd.read_sql_query("SELECT * FROM Player", conn)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [8]:
# Player attributes table
pd.read_sql_query("SELECT * FROM Player_Attributes", conn)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,right,medium,low,74.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,right,medium,low,74.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

In [9]:
# Match table
pd.read_sql_query("SELECT * FROM Match", conn)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# League table
pd.read_sql_query("SELECT * FROM League", conn)

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

In [11]:
# Country table
pd.read_sql_query("SELECT * FROM Country", conn)

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [12]:
# convert queries to csv files

# join team and team attributes tables into one
teams_query = pd.read_sql_query("""SELECT * 
                  FROM Team as t 
                  JOIN Team_Attributes as ta ON t.team_api_id=ta.team_api_id""", conn)
teams_query.to_csv('teams.csv', index=False)

# join player and player attributes tables into one
player_query = pd.read_sql_query("""SELECT * 
                  FROM Player as p 
                  JOIN Player_Attributes as pa ON p.player_api_id=pa.player_api_id""", conn)
player_query.to_csv('players.csv', index=False)

match_query = pd.read_sql_query("SELECT * FROM Match", conn)
match_query.to_csv('match.csv', index=False)

In [157]:
# read csv files

teams_df = pd.read_csv("teams.csv")
players_df = pd.read_csv("players.csv")
match_df = pd.read_csv('match.csv')

In [17]:
# explore dataframes

# teams df
teams_df.head()

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,id.1,team_fifa_api_id.1,team_api_id.1,date,buildUpPlaySpeed,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,49119,9930,434,FC Aarau,AAR,1,434,9930,2010-02-22 00:00:00,60,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,49119,9930,434,FC Aarau,AAR,2,434,9930,2014-09-19 00:00:00,52,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,49119,9930,434,FC Aarau,AAR,3,434,9930,2015-09-10 00:00:00,47,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,39393,8485,77,Aberdeen,ABE,4,77,8485,2010-02-22 00:00:00,70,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,39393,8485,77,Aberdeen,ABE,5,77,8485,2011-02-22 00:00:00,47,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [18]:
# player df
players_df.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id.1,player_fifa_api_id.1,player_api_id.1,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,3,218353,505942,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,4,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [19]:
# match df
match_df.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [56]:
# print shapes
print(f"teams_df: {teams_df.shape[0]} rows and {teams_df.shape[1]} columns")
print(f"match_df: {match_df.shape[0]} rows and {match_df.shape[1]} columns")
print(f"players_df: {players_df.shape[0]} rows and {players_df.shape[1]} columns")

teams_df: 1458 rows and 25 columns
match_df: 25979 rows and 115 columns
players_df: 183978 rows and 49 columns

### Data Preprocessing

#### teams_df

In [20]:
# summary of teams_df 
teams_df.describe()

# get columns with missing values
teams_df.loc[:,teams_df.isna().any()].columns

#frequency of missing values in teams_df
teams_df.isna().sum()/len(teams_df)*100

id                                 0.000000
team_api_id                        0.000000
team_fifa_api_id                   0.000000
team_long_name                     0.000000
team_short_name                    0.000000
id.1                               0.000000
team_fifa_api_id.1                 0.000000
team_api_id.1                      0.000000
date                               0.000000
buildUpPlaySpeed                   0.000000
buildUpPlaySpeedClass              0.000000
buildUpPlayDribbling              66.460905
buildUpPlayDribblingClass          0.000000
buildUpPlayPassing                 0.000000
buildUpPlayPassingClass            0.000000
buildUpPlayPositioningClass        0.000000
chanceCreationPassing              0.000000
chanceCreationPassingClass         0.000000
chanceCreationCrossing             0.000000
chanceCreationCrossingClass        0.000000
chanceCreationShooting             0.000000
chanceCreationShootingClass        0.000000
chanceCreationPositioningClass     0.000000
defencePressure                    0.000000
defencePressureClass               0.000000
defenceAggression                  0.000000
defenceAggressionClass             0.000000
defenceTeamWidth                   0.000000
defenceTeamWidthClass              0.000000
defenceDefenderLineClass           0.000000
dtype: float64

In [17]:
# drop buildUpPlayDribbling column
teams_df.drop(columns="buildUpPlayDribbling", inplace=True)

#drop duplicated columns
teams_df.drop(columns=['id','id.1', 'team_api_id.1', 'team_fifa_api_id.1'], inplace=True)

In [32]:
# check duplicates
# number of duplicates
teams_df.duplicated().any().sum()

# show duplicated rows
teams_df[teams_df.duplicated()]

,team_api_id,team_fifa_api_id,team_long_name,team_short_name,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
860,9996,111560,Royal Excel Mouscron,MOU,2015-09-10 00:00:00,50,Balanced,Normal,50,Mixed,...,50,Normal,Organised,45,Medium,45,Press,50,Normal,Cover

In [33]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   team_api_id                     1458 non-null   int64
 1   team_fifa_api_id                1458 non-null   int64
 2   team_long_name                  1458 non-null   object
 3   team_short_name                 1458 non-null   object
 4   date                            1458 non-null   object
 5   buildUpPlaySpeed                1458 non-null   int64
 6   buildUpPlaySpeedClass           1458 non-null   object
 7   buildUpPlayDribblingClass       1458 non-null   object
 8   buildUpPlayPassing              1458 non-null   int64
 9   buildUpPlayPassingClass         1458 non-null   object
 10  buildUpPlayPositioningClass     1458 non-null   object
 11  chanceCreationPassing           1458 non-null   int64
 12  chanceCreationPassingClass      1458 non-null   object
 13  chanceCreationCrossing          1458 non-null   int64
 14  chanceCreationCrossingClass     1458 non-null   object
 15  chanceCreationShooting          1458 non-null   int64
 16  chanceCreationShootingClass     1458 non-null   object
 17  chanceCreationPositioningClass  1458 non-null   object
 18  defencePressure                 1458 non-null   int64
 19  defencePressureClass            1458 non-null   object
 20  defenceAggression               1458 non-null   int64
 21  defenceAggressionClass          1458 non-null   object
 22  defenceTeamWidth                1458 non-null   int64
 23  defenceTeamWidthClass           1458 non-null   object
 24  defenceDefenderLineClass        1458 non-null   object
dtypes: int64(10), object(15)
memory usage: 284.9+ KB

In [34]:
# convert date column data type

teams_df['date'] = pd.to_datetime(teams_df['date'])
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   team_api_id                     1458 non-null   int64
 1   team_fifa_api_id                1458 non-null   int64
 2   team_long_name                  1458 non-null   object
 3   team_short_name                 1458 non-null   object
 4   date                            1458 non-null   datetime64[ns]
 5   buildUpPlaySpeed                1458 non-null   int64
 6   buildUpPlaySpeedClass           1458 non-null   object
 7   buildUpPlayDribblingClass       1458 non-null   object
 8   buildUpPlayPassing              1458 non-null   int64
 9   buildUpPlayPassingClass         1458 non-null   object
 10  buildUpPlayPositioningClass     1458 non-null   object
 11  chanceCreationPassing           1458 non-null   int64
 12  chanceCreationPassingClass      1458 non-null   object
 13  chanceCreationCrossing          1458 non-null   int64
 14  chanceCreationCrossingClass     1458 non-null   object
 15  chanceCreationShooting          1458 non-null   int64
 16  chanceCreationShootingClass     1458 non-null   object
 17  chanceCreationPositioningClass  1458 non-null   object
 18  defencePressure                 1458 non-null   int64
 19  defencePressureClass            1458 non-null   object
 20  defenceAggression               1458 non-null   int64
 21  defenceAggressionClass          1458 non-null   object
 22  defenceTeamWidth                1458 non-null   int64
 23  defenceTeamWidthClass           1458 non-null   object
 24  defenceDefenderLineClass        1458 non-null   object
dtypes: datetime64[ns](1), int64(10), object(14)
memory usage: 284.9+ KB

In [156]:
teams_df.shape

(1458, 30)

#### match_df

In [158]:
for i, j in enumerate(match_df):
    print(i, j)

0 id
1 country_id
2 league_id
3 season
4 stage
5 date
6 match_api_id
7 home_team_api_id
8 away_team_api_id
9 home_team_goal
10 away_team_goal
11 home_player_X1
12 home_player_X2
13 home_player_X3
14 home_player_X4
15 home_player_X5
16 home_player_X6
17 home_player_X7
18 home_player_X8
19 home_player_X9
20 home_player_X10
21 home_player_X11
22 away_player_X1
23 away_player_X2
24 away_player_X3
25 away_player_X4
26 away_player_X5
27 away_player_X6
28 away_player_X7
29 away_player_X8
30 away_player_X9
31 away_player_X10
32 away_player_X11
33 home_player_Y1
34 home_player_Y2
35 home_player_Y3
36 home_player_Y4
37 home_player_Y5
38 home_player_Y6
39 home_player_Y7
40 home_player_Y8
41 home_player_Y9
42 home_player_Y10
43 home_player_Y11
44 away_player_Y1
45 away_player_Y2
46 away_player_Y3
47 away_player_Y4
48 away_player_Y5
49 away_player_Y6
50 away_player_Y7
51 away_player_Y8
52 away_player_Y9
53 away_player_Y10
54 away_player_Y11
55 home_player_1
56 home_player_2
57 home_player_3
58 home_player_4
59 home_player_5
60 home_player_6
61 home_player_7
62 home_player_8
63 home_player_9
64 home_player_10
65 home_player_11
66 away_player_1
67 away_player_2
68 away_player_3
69 away_player_4
70 away_player_5
71 away_player_6
72 away_player_7
73 away_player_8
74 away_player_9
75 away_player_10
76 away_player_11
77 goal
78 shoton
79 shotoff
80 foulcommit
81 card
82 cross
83 corner
84 possession
85 B365H
86 B365D
87 B365A
88 BWH
89 BWD
90 BWA
91 IWH
92 IWD
93 IWA
94 LBH
95 LBD
96 LBA
97 PSH
98 PSD
99 PSA
100 WHH
101 WHD
102 WHA
103 SJH
104 SJD
105 SJA
106 VCH
107 VCD
108 VCA
109 GBH
110 GBD
111 GBA
112 BSH
113 BSD
114 BSA

In [159]:
# summary stats for match_df
match_df.describe()

,id,country_id,league_id,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
count,25979.000000,25979.000000,25979.000000,25979.000000,2.597900e+04,25979.000000,25979.000000,25979.000000,25979.000000,24158.000000,...,17097.000000,22568.000000,22568.000000,22568.000000,14162.000000,14162.000000,14162.000000,14161.000000,14161.000000,14161.000000
mean,12990.000000,11738.630317,11738.630317,18.242773,1.195429e+06,9984.371993,9984.475115,1.544594,1.160938,0.999586,...,4.622343,2.668107,3.899048,4.840281,2.498764,3.648189,4.353097,2.497894,3.660742,4.405663
std,7499.635658,7553.936759,7553.936759,10.407354,4.946279e+05,14087.453758,14087.445135,1.297158,1.142110,0.022284,...,3.632164,1.928753,1.248221,4.318338,1.489299,0.867440,3.010189,1.507793,0.868272,3.189814
min,1.000000,1.000000,1.000000,1.000000,4.831290e+05,1601.000000,1601.000000,0.000000,0.000000,0.000000,...,1.100000,1.030000,1.620000,1.080000,1.050000,1.450000,1.120000,1.040000,1.330000,1.120000
25%,6495.500000,4769.000000,4769.000000,9.000000,7.684365e+05,8475.000000,8475.000000,1.000000,0.000000,1.000000,...,2.500000,1.700000,3.300000,2.550000,1.670000,3.200000,2.500000,1.670000,3.250000,2.500000
50%,12990.000000,10257.000000,10257.000000,18.000000,1.147511e+06,8697.000000,8697.000000,1.000000,1.000000,1.000000,...,3.500000,2.150000,3.500000,3.500000,2.100000,3.300000,3.400000,2.100000,3.400000,3.400000
75%,19484.500000,17642.000000,17642.000000,27.000000,1.709852e+06,9925.000000,9925.000000,2.000000,2.000000,1.000000,...,5.250000,2.800000,4.000000,5.400000,2.650000,3.750000,5.000000,2.620000,3.750000,5.000000
max,25979.000000,24558.000000,24558.000000,38.000000,2.216672e+06,274581.000000,274581.000000,10.000000,9.000000,2.000000,...,41.000000,36.000000,26.000000,67.000000,21.000000,11.000000,34.000000,17.000000,13.000000,34.000000

In [160]:
# match_df info
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Columns: 115 entries, id to BSA
dtypes: float64(96), int64(9), object(10)
memory usage: 22.8+ MB

In [161]:
# too many columns check first 30
match_df.info(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 115 columns):
 #    Column            Dtype
---   ------            -----
 0    id                int64
 1    country_id        int64
 2    league_id         int64
 3    season            object
 4    stage             int64
 5    date              object
 6    match_api_id      int64
 7    home_team_api_id  int64
 8    away_team_api_id  int64
 9    home_team_goal    int64
 10   away_team_goal    int64
 11   home_player_X1    float64
 12   home_player_X2    float64
 13   home_player_X3    float64
 14   home_player_X4    float64
 15   home_player_X5    float64
 16   home_player_X6    float64
 17   home_player_X7    float64
 18   home_player_X8    float64
 19   home_player_X9    float64
 20   home_player_X10   float64
 21   home_player_X11   float64
 22   away_player_X1    float64
 23   away_player_X2    float64
 24   away_player_X3    float64
 25   away_player_X4    float64
 26   away_player_X5    float64
 27   away_player_X6    float64
 28   away_player_X7    float64
 29   away_player_X8    float64
 30   away_player_X9    float64
 31   away_player_X10   float64
 32   away_player_X11   float64
 33   home_player_Y1    float64
 34   home_player_Y2    float64
 35   home_player_Y3    float64
 36   home_player_Y4    float64
 37   home_player_Y5    float64
 38   home_player_Y6    float64
 39   home_player_Y7    float64
 40   home_player_Y8    float64
 41   home_player_Y9    float64
 42   home_player_Y10   float64
 43   home_player_Y11   float64
 44   away_player_Y1    float64
 45   away_player_Y2    float64
 46   away_player_Y3    float64
 47   away_player_Y4    float64
 48   away_player_Y5    float64
 49   away_player_Y6    float64
 50   away_player_Y7    float64
 51   away_player_Y8    float64
 52   away_player_Y9    float64
 53   away_player_Y10   float64
 54   away_player_Y11   float64
 55   home_player_1     float64
 56   home_player_2     float64
 57   home_player_3     float64
 58   home_player_4     float64
 59   home_player_5     float64
 60   home_player_6     float64
 61   home_player_7     float64
 62   home_player_8     float64
 63   home_player_9     float64
 64   home_player_10    float64
 65   home_player_11    float64
 66   away_player_1     float64
 67   away_player_2     float64
 68   away_player_3     float64
 69   away_player_4     float64
 70   away_player_5     float64
 71   away_player_6     float64
 72   away_player_7     float64
 73   away_player_8     float64
 74   away_player_9     float64
 75   away_player_10    float64
 76   away_player_11    float64
 77   goal              object
 78   shoton            object
 79   shotoff           object
 80   foulcommit        object
 81   card              object
 82   cross             object
 83   corner            object
 84   possession        object
 85   B365H             float64
 86   B365D             float64
 87   B365A             float64
 88   BWH               float64
 89   BWD               float64
 90   BWA               float64
 91   IWH               float64
 92   IWD               float64
 93   IWA               float64
 94   LBH               float64
 95   LBD               float64
 96   LBA               float64
 97   PSH               float64
 98   PSD               float64
 99   PSA               float64
 100  WHH               float64
 101  WHD               float64
 102  WHA               float64
 103  SJH               float64
 104  SJD               float64
 105  SJA               float64
 106  VCH               float64
 107  VCD               float64
 108  VCA               float64
 109  GBH               float64
 110  GBD               float64
 111  GBA               float64
 112  BSH               float64
 113  BSD               float64
 114  BSA               float64
dtypes: float64(96), int64(9), object(10)
memory usage: 22.8+ MB

In [162]:
# get column name and index
for i, j in enumerate(match_df.columns):
    print(i, j)

0 id
1 country_id
2 league_id
3 season
4 stage
5 date
6 match_api_id
7 home_team_api_id
8 away_team_api_id
9 home_team_goal
10 away_team_goal
11 home_player_X1
12 home_player_X2
13 home_player_X3
14 home_player_X4
15 home_player_X5
16 home_player_X6
17 home_player_X7
18 home_player_X8
19 home_player_X9
20 home_player_X10
21 home_player_X11
22 away_player_X1
23 away_player_X2
24 away_player_X3
25 away_player_X4
26 away_player_X5
27 away_player_X6
28 away_player_X7
29 away_player_X8
30 away_player_X9
31 away_player_X10
32 away_player_X11
33 home_player_Y1
34 home_player_Y2
35 home_player_Y3
36 home_player_Y4
37 home_player_Y5
38 home_player_Y6
39 home_player_Y7
40 home_player_Y8
41 home_player_Y9
42 home_player_Y10
43 home_player_Y11
44 away_player_Y1
45 away_player_Y2
46 away_player_Y3
47 away_player_Y4
48 away_player_Y5
49 away_player_Y6
50 away_player_Y7
51 away_player_Y8
52 away_player_Y9
53 away_player_Y10
54 away_player_Y11
55 home_player_1
56 home_player_2
57 home_player_3
58 home_player_4
59 home_player_5
60 home_player_6
61 home_player_7
62 home_player_8
63 home_player_9
64 home_player_10
65 home_player_11
66 away_player_1
67 away_player_2
68 away_player_3
69 away_player_4
70 away_player_5
71 away_player_6
72 away_player_7
73 away_player_8
74 away_player_9
75 away_player_10
76 away_player_11
77 goal
78 shoton
79 shotoff
80 foulcommit
81 card
82 cross
83 corner
84 possession
85 B365H
86 B365D
87 B365A
88 BWH
89 BWD
90 BWA
91 IWH
92 IWD
93 IWA
94 LBH
95 LBD
96 LBA
97 PSH
98 PSD
99 PSA
100 WHH
101 WHD
102 WHA
103 SJH
104 SJD
105 SJA
106 VCH
107 VCD
108 VCA
109 GBH
110 GBD
111 GBA
112 BSH
113 BSD
114 BSA

In [163]:
match_df.columns[85:]

Index(['B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA',
       'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD',
       'BSA'],
      dtype='object')

In [164]:
# drop betting columns

match_df.drop(match_df.columns[85:], axis=1, inplace=True)

In [165]:
# check columns with missing values
match_df.loc[:,match_df.isna().any()].columns

Index(['home_player_X1', 'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7', 'home_player_X8',
       'home_player_X9', 'home_player_X10', 'home_player_X11',
       'away_player_X1', 'away_player_X2', 'away_player_X3', 'away_player_X4',
       'away_player_X5', 'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3', 'home_player_Y4',
       'home_player_Y5', 'home_player_Y6', 'home_player_Y7', 'home_player_Y8',
       'home_player_Y9', 'home_player_Y10', 'home_player_Y11',
       'away_player_Y1', 'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7', 'away_player_Y8',
       'away_player_Y9', 'away_player_Y10', 'away_player_Y11', 'home_player_1',
       'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5',
       'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9',
       'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2',
       'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6',
       'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10',
       'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card',
       'cross', 'corner', 'possession'],
      dtype='object')

In [166]:
# get frequency of missing values in each column 
print(match_df.isna().sum()/len(match_df)*100)

id             0.00000
country_id     0.00000
league_id      0.00000
season         0.00000
stage          0.00000
                ...
foulcommit    45.27503
card          45.27503
cross         45.27503
corner        45.27503
possession    45.27503
Length: 85, dtype: float64

In [167]:
for i, j in enumerate(match_df):
    print(i, j, match_df[j].isna().sum()/len(match_df)*100)

0 id 0.0
1 country_id 0.0
2 league_id 0.0
3 season 0.0
4 stage 0.0
5 date 0.0
6 match_api_id 0.0
7 home_team_api_id 0.0
8 away_team_api_id 0.0
9 home_team_goal 0.0
10 away_team_goal 0.0
11 home_player_X1 7.009507679279419
12 home_player_X2 7.009507679279419
13 home_player_X3 7.051849570807191
14 home_player_X4 7.051849570807191
15 home_player_X5 7.051849570807191
16 home_player_X6 7.051849570807191
17 home_player_X7 7.051849570807191
18 home_player_X8 7.051849570807191
19 home_player_X9 7.051849570807191
20 home_player_X10 7.051849570807191
21 home_player_X11 7.051849570807191
22 away_player_X1 7.051849570807191
23 away_player_X2 7.051849570807191
24 away_player_X3 7.051849570807191
25 away_player_X4 7.051849570807191
26 away_player_X5 7.051849570807191
27 away_player_X6 7.051849570807191
28 away_player_X7 7.051849570807191
29 away_player_X8 7.051849570807191
30 away_player_X9 7.055698833673352
31 away_player_X10 7.055698833673352
32 away_player_X11 7.078794410870318
33 home_player_Y1 7.009507679279419
34 home_player_Y2 7.009507679279419
35 home_player_Y3 7.051849570807191
36 home_player_Y4 7.051849570807191
37 home_player_Y5 7.051849570807191
38 home_player_Y6 7.051849570807191
39 home_player_Y7 7.051849570807191
40 home_player_Y8 7.051849570807191
41 home_player_Y9 7.051849570807191
42 home_player_Y10 7.051849570807191
43 home_player_Y11 7.051849570807191
44 away_player_Y1 7.051849570807191
45 away_player_Y2 7.051849570807191
46 away_player_Y3 7.051849570807191
47 away_player_Y4 7.051849570807191
48 away_player_Y5 7.051849570807191
49 away_player_Y6 7.051849570807191
50 away_player_Y7 7.051849570807191
51 away_player_Y8 7.051849570807191
52 away_player_Y9 7.055698833673352
53 away_player_Y10 7.055698833673352
54 away_player_Y11 7.078794410870318
55 home_player_1 4.711497748181223
56 home_player_2 5.0617806690018865
57 home_player_3 4.930905731552407
58 home_player_4 5.092574771931175
59 home_player_5 5.065629931868047
60 home_player_6 5.100273297663498
61 home_player_7 4.723045536779707
62 home_player_8 5.038685091804919
63 home_player_9 4.900111628623119
64 home_player_10 5.527541475807383
65 home_player_11 5.985603756880558
66 away_player_1 4.749990376842835
67 away_player_2 4.9193579429539245
68 away_player_3 4.977096885946342
69 away_player_4 5.084876246198853
70 away_player_5 5.138765926325109
71 away_player_6 5.0540821432695635
72 away_player_7 4.753839639708995
73 away_player_8 5.161861503522076
74 away_player_9 5.111821086261981
75 away_player_10 5.546787790138189
76 away_player_11 5.981754494014396
77 goal 45.27502983178721
78 shoton 45.27502983178721
79 shotoff 45.27502983178721
80 foulcommit 45.27502983178721
81 card 45.27502983178721
82 cross 45.27502983178721
83 corner 45.27502983178721
84 possession 45.27502983178721

In [168]:
# inspect missing values > 20%
print('***Printing goal column unique values***\n')
print(match_df['goal'].unique()[:2])
print('\n'*2)
print('***Printing shoton column unique values***\n')
print(match_df['shoton'].unique()[:2])
print('\n'*2)
print('***Printing foulcommit column unique values***\n')
print(match_df['foulcommit'].unique()[:2])
print('\n'*2)
print('***Printing card column unique values***\n')
print(match_df['card'].unique()[:2])
print('\n'*2)
print('***Printing cross column unique values***\n')
print(match_df['cross'].unique()[:2])
print('\n'*2)
print('***Printing corner column unique values***\n')
print(match_df['corner'].unique()[:2])
print('\n'*2)
print('***Printing possession column unique values***\n')
print(match_df['possession'].unique()[:2])

# data were scraped with a lot of noise

***Printing goal column unique values***

[nan
 '<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>406</event_incident_typefk><elapsed>22</elapsed><player2>38807</player2><subtype>header</subtype><player1>37799</player1><sortorder>5</sortorder><team>10261</team><id>378998</id><n>295</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>393</event_incident_typefk><elapsed>24</elapsed><player2>24154</player2><subtype>shot</subtype><player1>24148</player1><sortorder>4</sortorder><team>10260</team><id>379019</id><n>298</n><type>goal</type><goal_type>n</goal_type></value></goal>']



***Printing shoton column unique values***

[nan
 '<shoton><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>3</elapsed><subtype>blocked_shot</subtype><player1>24154</player1><sortorder>0</sortorder><team>10260</team><n>253</n><type>shoton</type><id>378828</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>154</event_incident_typefk><elapsed>7</elapsed><subtype>header</subtype><player1>24157</player1><sortorder>2</sortorder><team>10260</team><n>258</n><type>shoton</type><id>378866</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><elapsed>14</elapsed><subtype>shot</subtype><player1>30829</player1><sortorder>1</sortorder><team>10260</team><n>274</n><type>shoton</type><id>378922</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><elapsed>14</elapsed><subtype>shot</subtype><player1>30373</player1><sortorder>2</sortorder><team>10260</team><n>279</n><type>shoton</type><id>378923</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><elapsed>17</elapsed><subtype>distance</subtype><player1>30373</player1><sortorder>3</sortorder><team>10260</team><n>272</n><type>shoton</type><id>378951</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>43</elapsed><subtype>blocked_shot</subtype><player1>24154</player1><sortorder>0</sortorder><team>10260</team><n>296</n><type>shoton</type><id>379204</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><elapsed>50</elapsed><subtype>distance</subtype><player1>37799</player1><sortorder>0</sortorder><team>10261</team><n>302</n><type>shoton</type><id>379363</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>149</event_incident_typefk><elapsed>58</elapsed><subtype>distance</subtype><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>310</n><type>shoton</type><id>379401</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>58</elapsed><subtype>blocked_shot</subtype><player1>24157</player1><sortorder>4</sortorder><team>10260</team><n>311</n><type>shoton</type><id>379406</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>60</elapsed><subtype>blocked_shot</subtype><player1>30829</player1><sortorder>0</sortorder><team>10260</team><n>314</n><type>shoton</type><id>379414</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>136</event_incident_typefk><elapsed>64</elapsed><subtype>header</subtype><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>319</n><type>shoton</type><id>379426</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>75</elapsed><subtype>blocked_shot</subtype><player1>30829</player1><sortorder>5</sortorder><team>10260</team><n>338</n><type>shoton</type><id>379466</id></value></shoton>']



***Printing foulcommit column unique values***

[nan
 '<foulcommit><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>1</elapsed><player2>32569</player2><player1>25518</player1><sortorder>1</sortorder><team>10261</team><n>267</n><type>foulcommit</type><id>378824</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>2</elapsed><player2>24157</player2><player1>30929</player1><sortorder>0</sortorder><team>10261</team><n>277</n><type>foulcommit</type><id>378826</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>3</elapsed><player2>24148</player2><player1>29581</player1><sortorder>1</sortorder><team>10261</team><n>254</n><type>foulcommit</type><id>378830</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>5</elapsed><player2>40565</player2><player1>30373</player1><sortorder>0</sortorder><team>10260</team><n>256</n><type>foulcommit</type><id>378841</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>10</elapsed><player2>30829</player2><subtype>pushing</subtype><player1>29581</player1><sortorder>0</sortorder><team>10261</team><n>275</n><type>foulcommit</type><id>378894</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>13</elapsed><player2>25518</player2><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>261</n><type>foulcommit</type><id>378913</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>19</elapsed><player2>30362</player2><player1>24228</player1><sortorder>6</sortorder><team>10261</team><n>260</n><type>foulcommit</type><id>378974</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>27</elapsed><player2>30360</player2><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>268</n><type>foulcommit</type><id>379035</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>27</elapsed><player2>38807</player2><player1>24154</player1><sortorder>2</sortorder><team>10260</team><n>282</n><type>foulcommit</type><id>379044</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>18</event_incident_typefk><elapsed>33</elapsed><player2>32569</player2><subtype>shirt_pull</subtype><player1>34574</player1><sortorder>1</sortorder><team>10261</team><n>283</n><type>foulcommit</type><id>379100</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>36</elapsed><player2>32569</player2><subtype>pushing</subtype><player1>37799</player1><sortorder>0</sortorder><team>10261</team><n>286</n><type>foulcommit</type><id>379126</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>19</event_incident_typefk><elapsed>38</elapsed><player2>33852</player2><subtype>from_behind</subtype><player1>30620</player1><sortorder>0</sortorder><team>10260</team><n>287</n><type>foulcommit</type><id>379154</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>19</event_incident_typefk><elapsed>39</elapsed><player2>34574</player2><subtype>from_behind</subtype><player1>32569</player1><sortorder>2</sortorder><team>10260</team><n>290</n><type>foulcommit</type><id>379171</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>42</elapsed><player2>24157</player2><player1>30929</player1><sortorder>0</sortorder><team>10261</team><n>308</n><type>foulcommit</type><id>379195</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>53</elapsed><player2>33852</player2><subtype>pushing</subtype><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>304</n><type>foulcommit</type><id>379377</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>19</event_incident_typefk><elapsed>56</elapsed><player2>34574</player2><subtype>from_behind</subtype><player1>30865</player1><sortorder>0</sortorder><team>10260</team><n>321</n><type>foulcommit</type><id>379390</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>19</event_incident_typefk><elapsed>59</elapsed><player2>37799</player2><subtype>from_behind</subtype><player1>30865</player1><sortorder>3</sortorder><team>10260</team><n>313</n><type>foulcommit</type><id>379413</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>3</event_incident_typefk><elapsed>68</elapsed><subtype>hands</subtype><player1>24157</player1><sortorder>1</sortorder><team>10260</team><n>328</n><type>foulcommit</type><id>379440</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>70</elapsed><player2>29581</player2><player1>30362</player1><sortorder>1</sortorder><team>10260</team><n>329</n><type>foulcommit</type><id>379444</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>72</elapsed><player2>24148</player2><player1>29581</player1><sortorder>0</sortorder><team>10261</team><n>331</n><type>foulcommit</type><id>379449</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>76</elapsed><player2>32569</player2><subtype>pushing</subtype><player1>29581</player1><sortorder>0</sortorder><team>10261</team><n>339</n><type>foulcommit</type><id>379468</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><elapsed>78</elapsed><player2>30929</player2><subtype>serious_foul</subtype><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>341</n><type>foulcommit</type><id>379479</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>80</elapsed><player2>38807</player2><player1>24150</player1><sortorder>0</sortorder><team>10260</team><n>343</n><type>foulcommit</type><id>379488</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><elapsed>82</elapsed><player2>29581</player2><subtype>serious_foul</subtype><player1>30362</player1><sortorder>0</sortorder><team>10260</team><n>345</n><type>foulcommit</type><id>379502</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>83</elapsed><player2>30929</player2><player1>30829</player1><sortorder>0</sortorder><team>10260</team><n>348</n><type>foulcommit</type><id>379509</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>89</elapsed><player2>24228</player2><player1>30829</player1><sortorder>2</sortorder><team>10260</team><n>352</n><type>foulcommit</type><id>379542</id></value><value><stats><foulscommitted>1</foulscommitted></stats><elapsed_plus>4</elapsed_plus><event_incident_typefk>37</event_incident_typefk><elapsed>90</elapsed><player2>38994</player2><player1>30360</player1><sortorder>0</sortorder><team>10261</team><n>355</n><type>foulcommit</type><id>379571</id></value></foulcommit>']



***Printing card column unique values***

[nan
 '<card><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>73</event_incident_typefk><elapsed>78</elapsed><card_type>y</card_type><subtype>serious_fouls</subtype><player1>24157</player1><sortorder>1</sortorder><team>10260</team><n>342</n><type>card</type><id>379481</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>73</event_incident_typefk><elapsed>82</elapsed><card_type>y</card_type><subtype>serious_fouls</subtype><player1>30362</player1><sortorder>1</sortorder><team>10260</team><n>346</n><type>card</type><id>379503</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>90</elapsed><card_type>y</card_type><player1>30829</player1><sortorder>1</sortorder><team>10260</team><n>353</n><type>card</type><id>379547</id></value></card>']



***Printing cross column unique values***

[nan

In [169]:
match_df['home_player_Y1'].unique()

array([nan,  1.,  3.,  0.])

In [170]:
match_df['home_player_X2'].unique()

array([nan,  2.,  4.,  3.,  1.,  5.,  6.,  8.,  7.,  0.])

In [171]:
match_df['away_player_Y1'].unique()

array([nan,  1.,  3.])

In [172]:
# drop unexplainable and coordinates columns
match_df.drop(match_df.columns[np.r_[11:55, 77:85]], axis=1, inplace=True)

In [173]:
# check missing values
for i, j in enumerate(match_df):
    print(i, j, match_df[j].isna().sum()/len(match_df)*100)

0 id 0.0
1 country_id 0.0
2 league_id 0.0
3 season 0.0
4 stage 0.0
5 date 0.0
6 match_api_id 0.0
7 home_team_api_id 0.0
8 away_team_api_id 0.0
9 home_team_goal 0.0
10 away_team_goal 0.0
11 home_player_1 4.711497748181223
12 home_player_2 5.0617806690018865
13 home_player_3 4.930905731552407
14 home_player_4 5.092574771931175
15 home_player_5 5.065629931868047
16 home_player_6 5.100273297663498
17 home_player_7 4.723045536779707
18 home_player_8 5.038685091804919
19 home_player_9 4.900111628623119
20 home_player_10 5.527541475807383
21 home_player_11 5.985603756880558
22 away_player_1 4.749990376842835
23 away_player_2 4.9193579429539245
24 away_player_3 4.977096885946342
25 away_player_4 5.084876246198853
26 away_player_5 5.138765926325109
27 away_player_6 5.0540821432695635
28 away_player_7 4.753839639708995
29 away_player_8 5.161861503522076
30 away_player_9 5.111821086261981
31 away_player_10 5.546787790138189
32 away_player_11 5.981754494014396

In [174]:
match_df['home_player_1'].unique() 
match_df['away_player_2'].unique()

array([    nan,  38388.,  38293., ...,  27232., 458806.,  92252.])

In [175]:
# missing values on *_player_number indicates the participation of a player in a particular match

match_df.iloc[:,np.r_[9:11,11:33]]

,home_team_goal,away_team_goal,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,1,0,42231.0,678384.0,95220.0,638592.0,413155.0,45780.0,171229.0,67333.0,...,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0
25975,1,2,33272.0,41621.0,25813.0,257845.0,114735.0,42237.0,113227.0,358156.0,...,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0
25976,2,0,157856.0,274779.0,177689.0,294256.0,42258.0,39979.0,173936.0,147959.0,...,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0
25977,0,0,NaN,8881.0,173534.0,39646.0,282287.0,340790.0,393337.0,8893.0,...,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0
25978,4,3,274787.0,492132.0,108451.0,25815.0,94553.0,384376.0,598355.0,36785.0,...,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0

In [176]:
# filling missing values with 0
match_df.fillna(0, inplace=True)

In [177]:
match_df.shape

(25979, 33)

In [112]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                25979 non-null  int64
 1   country_id        25979 non-null  int64
 2   league_id         25979 non-null  int64
 3   season            25979 non-null  object
 4   stage             25979 non-null  int64
 5   date              25979 non-null  object
 6   match_api_id      25979 non-null  int64
 7   home_team_api_id  25979 non-null  int64
 8   away_team_api_id  25979 non-null  int64
 9   home_team_goal    25979 non-null  int64
 10  away_team_goal    25979 non-null  int64
 11  home_player_1     25979 non-null  float64
 12  home_player_2     25979 non-null  float64
 13  home_player_3     25979 non-null  float64
 14  home_player_4     25979 non-null  float64
 15  home_player_5     25979 non-null  float64
 16  home_player_6     25979 non-null  float64
 17  home_player_7     25979 non-null  float64
 18  home_player_8     25979 non-null  float64
 19  home_player_9     25979 non-null  float64
 20  home_player_10    25979 non-null  float64
 21  home_player_11    25979 non-null  float64
 22  away_player_1     25979 non-null  float64
 23  away_player_2     25979 non-null  float64
 24  away_player_3     25979 non-null  float64
 25  away_player_4     25979 non-null  float64
 26  away_player_5     25979 non-null  float64
 27  away_player_6     25979 non-null  float64
 28  away_player_7     25979 non-null  float64
 29  away_player_8     25979 non-null  float64
 30  away_player_9     25979 non-null  float64
 31  away_player_10    25979 non-null  float64
 32  away_player_11    25979 non-null  float64
dtypes: float64(22), int64(9), object(2)
memory usage: 6.5+ MB

In [179]:
match_df[match_df.columns[11:33]].apply(lambda x: x.astype(int))

,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,42231,678384,95220,638592,413155,45780,171229,67333,119839,143790,...,563066,8800,67304,158253,133126,186524,93223,121115,232110,289732
25975,33272,41621,25813,257845,114735,42237,113227,358156,32343,531309,...,114792,150007,178119,27232,570830,260708,201704,36382,34082,95257
25976,157856,274779,177689,294256,42258,39979,173936,147959,451983,80564,...,67349,202663,32597,114794,188114,25840,482200,95230,451335,275122
25977,0,8881,173534,39646,282287,340790,393337,8893,614454,93229,...,121080,197757,260964,231614,113235,41116,462608,42262,92252,194532
25978,274787,492132,108451,25815,94553,384376,598355,36785,45174,302079,...,95216,172768,22834,458806,207234,25772,40274,34035,41726,527103

In [178]:
# check duplicates
match_df.duplicated().sum()

0

In [180]:
# convert date to datetime
match_df['date'] = pd.to_datetime(match_df['date'])

In [181]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                25979 non-null  int64
 1   country_id        25979 non-null  int64
 2   league_id         25979 non-null  int64
 3   season            25979 non-null  object
 4   stage             25979 non-null  int64
 5   date              25979 non-null  datetime64[ns]
 6   match_api_id      25979 non-null  int64
 7   home_team_api_id  25979 non-null  int64
 8   away_team_api_id  25979 non-null  int64
 9   home_team_goal    25979 non-null  int64
 10  away_team_goal    25979 non-null  int64
 11  home_player_1     25979 non-null  float64
 12  home_player_2     25979 non-null  float64
 13  home_player_3     25979 non-null  float64
 14  home_player_4     25979 non-null  float64
 15  home_player_5     25979 non-null  float64
 16  home_player_6     25979 non-null  float64
 17  home_player_7     25979 non-null  float64
 18  home_player_8     25979 non-null  float64
 19  home_player_9     25979 non-null  float64
 20  home_player_10    25979 non-null  float64
 21  home_player_11    25979 non-null  float64
 22  away_player_1     25979 non-null  float64
 23  away_player_2     25979 non-null  float64
 24  away_player_3     25979 non-null  float64
 25  away_player_4     25979 non-null  float64
 26  away_player_5     25979 non-null  float64
 27  away_player_6     25979 non-null  float64
 28  away_player_7     25979 non-null  float64
 29  away_player_8     25979 non-null  float64
 30  away_player_9     25979 non-null  float64
 31  away_player_10    25979 non-null  float64
 32  away_player_11    25979 non-null  float64
dtypes: datetime64[ns](1), float64(22), int64(9), object(1)
memory usage: 6.5+ MB

In [192]:
# convert players column to int
match_df[match_df.columns[11:33]] = match_df[match_df.columns[11:33]].apply(lambda x: x.astype(int))

In [193]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                25979 non-null  int64
 1   country_id        25979 non-null  int64
 2   league_id         25979 non-null  int64
 3   season            25979 non-null  object
 4   stage             25979 non-null  int64
 5   date              25979 non-null  datetime64[ns]
 6   match_api_id      25979 non-null  int64
 7   home_team_api_id  25979 non-null  int64
 8   away_team_api_id  25979 non-null  int64
 9   home_team_goal    25979 non-null  int64
 10  away_team_goal    25979 non-null  int64
 11  home_player_1     25979 non-null  int64
 12  home_player_2     25979 non-null  int64
 13  home_player_3     25979 non-null  int64
 14  home_player_4     25979 non-null  int64
 15  home_player_5     25979 non-null  int64
 16  home_player_6     25979 non-null  int64
 17  home_player_7     25979 non-null  int64
 18  home_player_8     25979 non-null  int64
 19  home_player_9     25979 non-null  int64
 20  home_player_10    25979 non-null  int64
 21  home_player_11    25979 non-null  int64
 22  away_player_1     25979 non-null  int64
 23  away_player_2     25979 non-null  int64
 24  away_player_3     25979 non-null  int64
 25  away_player_4     25979 non-null  int64
 26  away_player_5     25979 non-null  int64
 27  away_player_6     25979 non-null  int64
 28  away_player_7     25979 non-null  int64
 29  away_player_8     25979 non-null  int64
 30  away_player_9     25979 non-null  int64
 31  away_player_10    25979 non-null  int64
 32  away_player_11    25979 non-null  int64
dtypes: datetime64[ns](1), int64(31), object(1)
memory usage: 6.5+ MB

<a id='eda'></a>
## Exploratory Data Analysis



### Research Question 1: Which team had scored the most goals?

### Research Question 2: What team improved the most over the time period?

### Research Question 3: Which player had the most penalties?

### Research Question 4: What attributes that lead teams to most victories?

<a id='conclusions'></a>
## Conclusions